@import 'common';


.App {
  text-align: center;
  background-color: $bg_color1;
  color:$color1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:$bg_color1;
  height: 150px;
  padding: 20px;
  color: $color1;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: $bg_color1;
}
ul.list {
    li {
      text-align: left;
      list-style: none;
      a {
        color: $cmdcolor;
        cursor: pointer;
      }
    }
  }

.checked {
  color: lightgray;
}