$main_color:white;
$cmd_color: red;

ul.list {
    li {
      background-color:$main_color;
      text-align: left;
      list-style: none;
      a {
        color: $cmd_color;
        cursor: pointer;
      }
    }
  }

.checked {
  color: lightgray;
}